@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<div class="container">
  <h1>Add Student to Course</h1>
</div>
<hr />
<div class="container">
    <h4>Add @Html.DisplayFor(model => model.StudentName) to a course: </h4>
</div>

@using (Html.BeginForm())
{<div class="form-container">
    @Html.HiddenFor(model => model.StudentId)
    <div>
        @Html.Label("Select Course: ")
        @Html.DropDownList("CourseId", ViewBag.CourseId as SelectList)
    </div>
</div>
<div class="center">
    <input type="submit" value="Save" />
</div>
}

<p>@Html.ActionLink("Back to all students", "Index")</p>